@font-face {
    font-family: bilagike;
    src: url(Bilagike.otf);
}
@font-face {
    font-family: monbold;
    src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family:monita ;
    src: url(/fonts/Montserrat-Italic.ttf);
}
@font-face {
    font-family: monreg;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: monmed;
    src: url(/fonts/Montserrat-Medium.ttf);
}

body{
    height: 100%;
    background: linear-gradient(90deg, #000000 50%, #ffffff 50%);
}

.image img{
    width: 30%;
    margin-left: 20%;
    margin-top: 5%;
    margin-top: 12.5%;
}
.all{
    margin-left: 25%;
    
}
.content h1{
    color: white;
    font-family: monbold;
    font-size: 3rem;
    margin-left: -2%;
    
}
.content p {
    color: white;
    font-family: monreg;
    font-size: 1.5rem;
    margin-left: -4%;
}
.price h2{
    color: white;
    font-family: monmed;
    font-size: 3rem;
    margin-left: 7%;
}
.visaimage img{
    width:7ch;
    float: right;
    margin-right: 40%;
    margin-top: -33.4%;
}
.bord2{
    margin-right: 4.5%;
    margin-top: -2.5%;
}
.info label{
    color: rgb(0, 0, 0);
    float: right;
    font-family: monbold;
  
}
.content2{
    float: right;
    margin-right: 28.9%;
    margin-top: -34.7%;
    font-family: monbold;
    font-size: 20px;
}
.holder{
    float: right;
    margin-right: 34.9%;
    margin-top: -27%;
    font-family: monreg;
    font-weight: 900;
    
}
.holder label{
    font-size: 20px;
}
.holder input {
    margin-top: 10px;
}
.number{
    float: right;
    margin-right: 35%;
    margin-top: -22%;
    font-weight: 900;
    font-family: monreg;
}
.number label{
    font-size: 20px;
    
}
.number input{
    margin-top: 10px;
}
.date{
    float: right;
    margin-right: 35.2%;
    margin-top: -17%;
    font-family: monreg;
    font-weight: 900;
}
.date label {
    
    font-size: 20px;
}
.date input{
    margin-top: 10px;
    width: 85%;
}
.cvc{
    float: right;
    margin-right: 34.9%;
    margin-top: -12%;
    font-family: monreg;
    font-weight: 900;
}
.cvc label{
    font-size: 20px;
}
.cvc input {
    margin-top: 10px;
}
.bor {
    margin-top: 5%;

    
}
.bor input{
    padding: 15px;
    border: solid rgba(0, 0, 0, 0.219) 0.5px;
    border-radius: 7px;
    background-color: rgba(128, 128, 128, 0.178);
    text-align: left;
}
.but button {
    float: right;
    margin-right:34.4%;
    margin-top: -5.5%;
    background-color: rgb(1, 87, 87);
    padding: 18px;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
    font-family: monbold;
    font-size: 25px;
    font-weight: 900;
}

.navbar ul {
    float: right;
    margin-right: 10%;
    margin-top: -16.8px;
    
    
}
.navbar li{
    display: inline-block;
    
   
    margin: 25px;
    
    

}

.navbar a {
    padding: 12px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: monmed;
    font-size: 20px;
    color: black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    
 
}
.navbar a:hover{
    background-color: #000000;
    color: white;
}
.navbar p {
    color: white;
    margin: 35px;
    font-weight: 9500;
    font-size: 30px;
    margin-left: 12.5%;
    margin-bottom: -3.5%;
    

}