*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: mon;
    src: url(fonts/Montserrat-Black.ttf); 
}
@font-face {
    font-family:monlight ;
    src: url(fonts/Montserrat-ExtraLight.ttf);


}
@font-face {
    font-family: monmed;
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: monreg ;
    src: url(fonts/Montserrat-Regular.ttf);
}
.navbar{
    margin-top: 0.5%;
}
.navbar img{
    width: 7%;
    margin-left: 14%;
}
.navbar ul{
    
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 15%;
    
}

.navbar li {
    display: inline-block;
    padding: 9px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-family: monmed;
    background-color: white;
    transition: all 0.55s ease-in-out;
    padding: 15px;
    border-radius: 12px;
    
}
.navbar a:hover{
    background-color: orangered;
    color: white;
}
#semain{
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
    text-align: center;
}
#semain td , #semain th{
    border: 1px solid #ddd;
  padding: 8px;
}
#semain th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#span{
    column-span: 2;
}
#semain .hor{
    text-align: center;
}
#semain .mid{
    text-align: center;
}
#semain .jor{
    text-align: center;
    
    padding-bottom: 10%;
}
